scikit-learn
matplotlib==3.2.2
gensim==4.3.0
numpy==1.24.1
networkx
graphviz
pandas==1.5.3
kneed
transformers
sentence-transformers==2.2.2
clean-text
Unidecode
kmeans
spacy
nltk
seaborn
pyparsing
pydot
fsspec
pygraphviz==1.7
